@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

/* Reset some default styles */
body,
h1,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Page Styles */
body {
    font-family: Neometric, sans-serif;

}

.side-by-side {
    display: flex;
    flex-direction: row;

}

header {
    background-color: #101010;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav img {
    width: 100px;
    height: auto;
}

.second-background {
    background: linear-gradient(270deg, #FFF 10.43%, rgba(217, 217, 217, 0.00) 104.56%);
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 20px;
}

li:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.left-content {
    width: 50%;
    height: 100vh;
    flex-shrink: 0;
}

h1 {
    font-size: 75px;
    font-weight: 600;
    line-height: normal;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.right-content {
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    background: #101010;
}

button#talk-button {
    width: 154px;
    height: 53px;
    background: #DDF252;
    border: none;
    border-radius: 10px;
    color: #101010;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

img {
    width: 200%;
    height: 100vh;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttons button {
    width: 289px;
    height: 71px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

#register-button {
    background: #101010;
    border-radius: 10px;
    color: #F8F8F8;
    margin: 10px;
}

#call-button {
    background: #F8F8F8;
    border-radius: 10px;
    margin: 10px;
}

.logo {
    width: 154px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-family: Neometric;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
